@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto:ital,wght@0,100;1,100&display=swap');

body {
  font-family: 'Oswald', sans-serif;
}

input {
  font-family: 'Roboto', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}